<div class="content glass center">
    <div>
        <div class="title text-column">
            <h3>Search for weather details</h3>
            <p>Enter your city name to find the weather details of your city</p>
        </div>
        <div class="center">
            <div class="search">
                <input type="text" class="search-bar" placeholder="Enter city" [(ngModel)]="inputText">
                <button (click)="onSearchClick()" type="button" class="btn-search">Search</button>
            </div>
        </div>
    </div>
    
</div>
